@model Búsquedas.Models.ViewModels.BusquedaViewModel;
@{
    ViewData["Title"] = "Catalogo";
}
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio de Sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styleLogin.css">
    <script src="https://kit.fontawesome.com/dd5e6670f4.js" crossorigin="anonymous"></script>
    <script src="~/js/jquery-3.6.4.min.js"></script>
    <script src="~/js/Inicio/validLogin-Pass.js"></script>
</head>
<body>

    <style>
        .texto-trans{
            position: absolute; /* Posicionamiento absoluto para que el texto quede superpuesto */
            top: 50%; /* Coloca el texto en la mitad vertical del contenedor */
            left: 50%; /* Coloca el texto en la mitad horizontal del contenedor */
            transform: translate(-50%, -50%); /* Centra el texto */
            text-align: center;
            background-color: #FFFFFF80;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Familia de fuente */
            font-weight: bold; /* Peso de la fuente */
            font-size: 24px; /* Tamaño de la fuente */
            color: #333; /* Color del texto */
            letter-spacing: 2px; /* Espaciado entre letras */
            text-transform: uppercase; /* Convertir texto a mayúsculas */
            /* Otros estilos según sea necesario */
        }
        .mujer{
            position: absolute;
            background-image: url('/img/mujer.jpg');
            width:100%;
            height:100%;
            background-size: cover;
            background-position: center; /* Centra la imagen de fondo */
            top: 0; /* Coloca el div en la parte superior */
            left: 0; /* Coloca el div en la parte izquierda */
        }

        .accesorio {
            position: absolute;
            background-image: url('/img/accesorios.jpg');
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center; /* Centra la imagen de fondo */
            top: 0; /* Coloca el div en la parte superior */
            left: 0; /* Coloca el div en la parte izquierda */
        }

        .hombre {
            position: absolute;
            background-image: url('/img/hombre.jpg');
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center; /* Centra la imagen de fondo */
            top: 0; /* Coloca el div en la parte superior */
            left: 0; /* Coloca el div en la parte izquierda */
        }

        .nino {
            position: absolute;
            background-image: url('/img/niño.jpg');
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center; /* Centra la imagen de fondo */
            top: 0; /* Coloca el div en la parte superior */
            left: 0; /* Coloca el div en la parte izquierda */
        }

        .nina {
            position: absolute;
            background-image: url('/img/niña.jpg');
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center; /* Centra la imagen de fondo */
            top: 0; /* Coloca el div en la parte superior */
            left: 0; /* Coloca el div en la parte izquierda */
        }
    </style>

    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <br>
                    <br>
                    <img style="height:4em; margin-left:4em;" src="/img/logosensillo.png" alt="">
                </div>
                <div class="col-6">
                    <br>
                    <br>
                    <ul class="nav justify-content-end" style="margin-right:4em">
                        <li class="nav-item dropdown btn" style="background-color: #A58C9B;">
                            <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><b>Catalogos</b></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Mujer</a></li>
                                <li><a class="dropdown-item" href="#">Accesorios</a></li>
                                <li><a class="dropdown-item" href="#">Hombre</a></li>
                                <li><a class="dropdown-item" href="#">Niño</a></li>
                                <li><a class="dropdown-item" href="#">Niña</a></li>
                            </ul>
                        </li>
                        &nbsp;&nbsp;&nbsp;
                        <li class="nav-item btn" style="background-color: #A58C9B;">
                            <a class="nav-link text-light" asp-area="" asp-controller="Usuario" asp-action="Productos"><b>Busqueda Compleja</b></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container text-center">
        <h1>Categorias</h1>
        <p>Fashionista • Viajera • Blogger</p>

        <div class="row">
            <div class="col-4" style="padding: 0px 4px 4px 0px;">
                <div style="width:100%; height:300px; position: relative;">
                    <div class="mujer">
                        <div class="texto-trans">
                            <p>Mujer</p>
                        </div>
                    </div>
                    <!--<img style="width:100%; height:auto;" src="/img/mujer.jpg" />-->
                </div>
            </div>
            
            <div class="col-8" style="padding: 0px 0px 4px 4px;">
                <div style="width:100%; height:300px; position: relative;">
                    <div class="accesorio">
                        <div class="texto-trans">
                            <p>Accesorios</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4" style="padding: 4px 4px 0px 0px;">
                <div style="width:100%; height:300px; position: relative;">
                    <div class="hombre">
                        <div class="texto-trans">
                            <p>Hombre</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4" style="padding: 4px 4px 0px 4px;">
                <div style="width:100%; height:300px; position: relative;">
                    <div class="nino">
                        <div class="texto-trans">
                            <p>Niño</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4" style="padding: 4px 0px 0px 4px;">
                <div style="width:100%; height:300px; position: relative;">
                    <div class="nina">
                        <div class="texto-trans">
                            <p>Niña</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>